/* Global Varables -----------------------------------------------------------------------------*/
:root
{
    /* Brand Colors */
    --clr-base: #5BCAE6;
    --clr-base-dark-1: #0F7E9A;
    --clr-base-dark-2: #084959;
    --clr-base-light-1: #E5EEF0;
    --clr-base-additional: #493471;
    --clr-bkg: #FEFBF6;
    --clr-text-light: #FEFBF6;
    --clr-text: #151618;
    --clr-accent: #E68D39;

    /* Paddings */
    --padding-btn-left: 25px;
    --padding-btn-right: 25px;
    --padding-btn-top: 15px;
    --padding-btn-bottom: 15px;

    /* Borders */
    --border-btn-contact: 2px;
}

/* Classes -------------------------------------------------------------------------------------*/

/* textlink */

.textlink
{
    color: var(--clr-base-dark-1);
    text-decoration: none;
}

.textlink:visited
{
    color: var(--clr-base-additional);
}

.textlink:hover,
.textlink:focus
{
    color: var(--clr-base-dark-1);
    text-decoration: underline;
}

.textlink:active
{
    color: var(--clr-base);
    text-decoration: underline;
}

/* buttons */

.button
{
    display: inline-block;
    background-color: var(--clr-base-dark-2);
    color: var(--clr-bkg);
    font-weight: 400;
    text-decoration: none;
    padding-left: var(--padding-btn-left);
    padding-right: var(--padding-btn-right);
    padding-top: var(--padding-btn-top);
    padding-bottom: var(--padding-btn-bottom);
    border-radius: 15px;
    transition: 0.2s opacity;
}

.button:hover
{
    background-color: var(--clr-base-dark-1);
}

.button:focus
{
    background-color: var(--clr-base-dark-1);
}

.button:active
{
    background-color: var(--clr-base-dark-1);
}

.button.contact
{
    /*compensate for the increase in button size due to the border stroke*/
    padding-left: calc(var(--padding-btn-left) - var(--border-btn-contact));
    padding-right: calc(var(--padding-btn-right) - var(--border-btn-contact));
    padding-top: calc(var(--padding-btn-top) - var(--border-btn-contact));
    padding-bottom: calc(var(--padding-btn-bottom) - var(--border-btn-contact));
    background-color: transparent;
    color: var(--clr-accent);
    border: var(--border-btn-contact) solid var(--clr-accent);
}

.button.contact:hover
{
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
}


/* Tags-----------------------------------------------------------------------------------------*/

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Sarabun', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: var(--clr-bkg);
    color: var(--clr-text);
}

/* header
{
    background-color: var(--clr-base-dark-1);
    padding: 10px;
} */

b
{
    font-weight: 700;
}

h1,
h2,
h3,
h4
{
    line-height: 1.4;
}

h1
{
    font-size: 2.75em;
    font-weight: 700;
}

h2
{
    font-size: 2.25em;
    font-weight: 700;
}

h3
{
    font-size: 1.75em;
    font-weight: 400;
}

h4
{
    font-size: 1.35em;
    font-weight: 400;
}

img
{
    width: 100%;
}